@page
@model AdminSimulator.Areas.Identity.Pages.Account.CreateModel
@{
    //ViewData["Title"] = "Добавление нового пользователя";
}
@*<h2>@ViewData["Title"]</h2>*@
<h2>Добавление нового пользователя</h2>
<div asp-validation-summary="All"></div>
<form method="POST">
    <div><label>Name</label><br /><input asp-for="User.UserName" /></div>
    <div><label>Email:</label><br /><input asp-for="User.UserEmail" type="email" /></div>
    <input type="submit" value="Отправить" />
</form>